

 <div id="container">
 <div class="jumbotron">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12 lead">User profile<hr></div>
          </div>
          <div class="row">
			<div class="col-md-4 text-center">
                <%= image_tag(@user.profile_img,width:"200px", height:"200px", style:"-webkit-user-select:none; 
              display:block; margin:auto;", class:"img-circle avatar avatar-original") %>

            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="only-bottom-margin"><%=@user.username%></h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <span class="text-muted">Email: </span><%=@user.email%><br>
                  <span class="text-muted">First Name: </span><%=@user.first_name%><br>
                  <span class="text-muted">Last Name: </span> <%=@user.last_name%><br><br>

                </div>
                <div class="col-md-6">
                  <div class="activity-mini">
                    <i class="glyphicon glyphicon-comment text-muted">invitaions: </i>  <%=@user.invitaions.count%>
                  </div>
                  <div class="activity-mini">
                    <i class="glyphicon glyphicon-thumbs-up text-muted">comments: </i> <%=@user.comments.count%>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <hr>
              <% if user_signed_in?%>
                <% if current_user.id == @user.id%>
                <%= link_to 'Edit', edit_user_registration_path,class:"btn btn-secondary" %>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
